<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Dependencies Repository" sequenceNumber="2">
<locations>
<location path="${workspace_loc:/xidobi.dependencies.osgi}/repo" type="Directory"/>
</locations>
</target>
